<% provide(:title, "Log in") %>
<h1>Log in</h1>

<%= form_for(:session, url: login_path) do |f| %>
<p>
      <%= f.label :name %>
      <%= f.text_field :name %>
</p>
<p>
      <%= f.label :password %>
      <%= f.password_field :password %>
</p>
<p>
      <%= f.submit "Log in" %>
</p>
<% end %>

<%= link_to "sign up", signup_path %>

