<%= link_to 'create new user', new_user_path %>
<table>
    <% @users.each do |u| %>
        <tr>
            <td><%= u.id %></td>
            <td><%= u.name %></td>
            <td><%= u.role %></td>
            <td><%= link_to 'Show', user_path(u) %></td>
            <td><%= link_to 'Destroy', user_path(u), method: :delete,
                                                     data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>
