<div class="posts">
            
<% @posts.each do |post| %>

<article>
<%= div_for(post) do |p| %>
  <div class="post-body"><%= p.text %></div>
  <div class="post-meta">
    <span>Wrote <%= p.user_name %> <%= p.created_at %></span>
    <%= link_to 'Show', post_path(p) %>
    <%= link_to 'Edit', edit_post_path(p) %>
    <%= link_to 'Destroy', post_path(p), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%= link_to "+", post_voteup_path(p), remote: true %>
    <strong id="votes"><%= p.vote_points %></strong>
    <%= link_to '-', post_votedown_path(p), remote: true %>
  </div>
<% end %>
</article>

<% end %>

</div>
