<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <%= yield :head %>
  </head>
  <body>
    <header class="navbar navbar-static-top">
      <div class="container">
       <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img alt="Crowd" src="/assets/icon.png">
            <span>Crowd</span>
        </a>
       </div> 
       <nav>
        <% if logged_in? %>
          <% if current_page?(:controller => 'posts', :action => 'index') %>
            <%= link_to new_post_path, class: "btn btn-default navbar-btn navbar-left" do %>
            <span class="glyphicon glyphicon-edit"></span> write a <strong>post</strong>
            <% end %>
          <% else %>
            <ul class="nav navbar-nav">
              <li><%= link_to "Posts", posts_path %></li>
            </ul>
          <% end %>
          
          <div class="navbar-right">
            <div class="navbar-text navbar-right">
            <%= link_to current_user.name, user_path(current_user), class: "navbar-username" %></strong>
            <%= link_to "(get out)", logout_path, method: "delete", class: "nav navbar-nav navbar-right"%>
            </div>
        <% else %>
          <% if !current_page?('/login')%>
            <%= link_to login_path, class: "btn btn-default navbar-btn navbar-right" do %>
            <span class="glyphicon glyphicon-user"></span> Login
            <% end %>
          <% end %>
          </div>
        <% end %>
        </nav>
      </div>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      
      <%= yield %>
      
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
